/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.detail_from {font-size: 1.5em; paddin:10px;}
.pagination.comments {padding-left: 60px;}
.product-image { padding-left: 60px; padding-top: 20px;}
.well.price {background-color: #00CC66; color: #fff; }
.well.price a  { color: #fff; }
.well.price_item  {background-color: #FFFFCC; color: #000;  }
.well.saveit {background-color: #3399CC; color: #fff; }
.well.saveit a {color: #fff;}
.well.saveit_item {background-color: #fff; color: #000; }